footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin-top: auto;
    background-color: black;
    color: white;
    
    .social-media {
        display: flex;
        justify-content: left;
        align-items: center;

        a{
            margin:20px;
            font-size: 2rem;
            color: white;
        }
    }

    .resume-section{
        a {
            color: whitesmoke;
        }
    }
}